numpy
scipy
Cython
pandas
scikit-learn
wfdb==3.2.0
biosppy
torch
torchsummary
tensorboardX
tqdm
deprecated
deprecate-kwargs
pyEDFlib
PyWavelets
torch-optimizer
requests
xmltodict
einops
matplotlib
bib-lookup>=0.0.19
typing-extensions
