numpy
scipy
Cython
pandas < 3.0.0
pyarrow
scikit-learn
boto3
wfdb
biosppy
torch
torchsummary
tensorboardX
tqdm
deprecated
deprecate-kwargs
safetensors
pyEDFlib
PyWavelets
torch-optimizer
requests
xmltodict
einops
matplotlib
bib-lookup
typing-extensions
soundfile
easydict
PeakUtils
