numpy
scipy
Cython
pandas
pyarrow
scikit-learn
wfdb
biosppy
torch
torchsummary
tensorboardX
tqdm
deprecated
deprecate-kwargs
pyEDFlib
PyWavelets
torch-optimizer
requests
xmltodict
einops
matplotlib
bib-lookup
typing-extensions
